{% extends '::two-columns.html.twig' %}

{% block main_content %}
    <h1>{{ 'actions.edit_page'|trans }}</h1>

    {% include 'DisideSecurityBundle:Page:_form.html.twig' with {'route' : path('page_edit', {'id': form.vars.data.id})} %}
{% endblock main_content %}
