{% extends '::two-columns.html.twig' %}

{% block main_content %}
    <div class="col-md-12 col-lg-push-3 col-lg-6">
        <h1>{{ 'change_password.title'|trans }}</h1>

        {% if errors is not null %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ ('error.' ~ error)|trans({}, 'validators') }}
                </div>
            {% endfor %}
        {% endif %}

        {{ form_errors(form) }}

        <form id="change_password" method="POST">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
            </div>

        </form>
    </div>
{% endblock main_content %}
