{% extends '::two-columns.html.twig' %}

{% block main_content %}
    <h1>{{ 'actions.edit_user'|trans }}</h1>

    {% include 'DisideSecurityBundle:User:_form.html.twig' with {'route' : path('user_edit', {'id': form.vars.data.id})} %}
{% endblock main_content %}

{%  block javascripts %}
    {{ parent() }}

{%  endblock javascripts %}